// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.baboon-light {
    color: #D6E74D;
}

.baboon-dark {
    color: #35555d;
}

.baboon-light-bg {
    background: #D6E74D;
}

.baboon-dark-bg {
    background: #35555d;
}

.baboon-btn {
    background: #D6E74D !important;
    color: #35555d !important;
}