


// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";


.router-link-active {
    color: #35555d !important;
    background-color: #D6E74D;

    p{
        color: #35555d !important;
    }

}

.user-panel img {
    height: 2.1rem !important;
    width: 2.1rem !important;
    object-fit: cover !important;
}